<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/easyui/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/easyui/themes/icon.css}">
    <script type="text/javascript" th:src="@{/static/easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/easyui/jquery.easyui.min.js}"></script>
    <script type="text/javascript">
        var url;


        function addAirport(){
            $("#dlg").dialog("open").dialog("setTitle","添加导航台信息");
            url="/airport/save";
        }

        function saveAirport(){
            $("#fm").form("submit",{
                url:url,
                onSubmit:function(){
                    return $(this).form("validate");
                },
                success:function(result){
                    var result=eval('('+result+')');
                    if(result.success){
                        $.messager.alert("系统提示","保存成功!");
                        resetValue();
                        $("#dlg").dialog("close");
                        $("#dg").datagrid("reload");
                    }else{
                        $.messager.alert("系统提示","保存失败！");
                        return;
                    }
                }
            });
        }
        function resetValue(){
            $("#userName").val("");
            $("#pwd").val("");
            $("#trueName").val("");
            $("#email").val("");
            $("#phone").val("");
            $("#post").val("");
            $("#roleId").combobox("setValue")=="";
        }

        function closeAirportDialog(){
            $("#dlg").dialog("close");
            resetValue();
        }
    </script>
</head>
<body>

<div id="sys" data-options="region:'center',title:'Main Title',iconCls:'icon-ok'">
    <a href="javascript:top.loadAirportData()" class="easyui-linkbutton" iconCls="icon-reload">加载机场数据</a>
    <a href="javascript:top.removeAirportData()" class="easyui-linkbutton" iconCls="icon-undo">移除机场数据</a>
    <a href="javascript:addAirport()" class="easyui-linkbutton" iconCls="icon-add">添加机场数据</a>
    <!-- class="easyui-datagrid"-->
    <table id="airportsdg" title="机场数据信息" style="width:100%;height:100%" data-options="
				rownumbers:true,
				singleSelect:true,
				autoRowHeight:false,
				pagination:true,
				pageSize:10">
        <thead>
        <tr>
            <th field="name" width="150" align="center">机场名称</th>
            <th field="code" width="80" align="center">机场代码</th>
            <th field="lon" width="80" align="center">经度</th>
            <th field="lat" width="80" align="center">纬度</th>
            <th field="msl" width="80" align="center">标高</th>
            <th field="type" width="80" align="center">类型</th>
            <th field="type" width="80" align="center">飞行量</th>
        </tr>
        </thead>
        <tbody id="airportsbody"></tbody>
    </table>
</div>

<div id="dlg" class="easyui-dialog" style="width: 400px;height: 250px;padding: 10px 20px" closed="true" buttons="#dlg-buttons">
    <form id="fm" method="post">
        <table>
            <tr>
                <td>机场名称：</td>
                <td><input type="text" id="name" name="name" class="easyui-validatebox" required="true"/>&nbsp;<font color="red">*</font></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>

            <tr>
                <td>机场代码：</td>
                <td><input type="text" id="code" name="code" class="easyui-validatebox" required="true"/>&nbsp;<font color="red">*</font></td>
            </tr>

            <tr>
                <td>机场经度：</td>
                <td><input type="text" id="lon" name="lon" class="easyui-validatebox" required="true"/>&nbsp;<font color="red">*</font></td>
            </tr>
            <tr>
                <td>机场纬度：</td>
                <td><input type="text" id="lat" name="lat" class="easyui-validatebox" required="true"/>&nbsp;<font color="red">*</font></td>
            </tr>
            <tr>
                <td>机场标高：</td>
                <td><input type="text" id="msl" name="msl" class="easyui-validatebox"  required="true"/>&nbsp;<font color="red">*</font></td>
            </tr>
            <tr>
                <td>机场类型：</td>
                <td><input type="text" id="type" name="type" class="easyui-validatebox" required="true"/>&nbsp;<font color="red">*</font></td>
            </tr>
            <tr>
                <td>飞行量：</td>
                <td><input type="text" id="amount" name="amount" class="easyui-validatebox" required="true"/>&nbsp;<font color="red">*</font></td>
            </tr>

        </table>
    </form>

    <div id="dlg-buttons">
        <a href="javascript:saveAirport()" class="easyui-linkbutton" iconCls="icon-ok">保存</a>
        <a href="javascript:closeAirportDialog()" class="easyui-linkbutton" iconCls="icon-cancel">关闭</a>
    </div>
</div>

</body>
</html>