<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/easyui/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/easyui/themes/icon.css}">
    <script type="text/javascript" th:src="@{/static/easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/easyui/jquery.easyui.min.js}"></script>
    <script type="text/javascript">
        var url;
        function addnavStation(){
            $("#dlg").dialog("open").dialog("setTitle","Add navigation station information");
            url="/navStation/save";
        }

        function savenavStation(){
            $("#fm").form("submit",{
                url:url,
                onSubmit:function(){
                    return $(this).form("validate");
                },
                success:function(result){
                    var result=eval('('+result+')');
                    if(result.success){
                        $.messager.alert("system prompt","save successfully!");
                        resetValue();
                        $("#dlg").dialog("close");
                        $("#dg").datagrid("reload");
                    }else{
                        $.messager.alert("system prompt","fail to save！");
                        return;
                    }
                }
            });
        }

        function resetValue(){
            $("#userName").val("");
            $("#pwd").val("");
            $("#trueName").val("");
            $("#email").val("");
            $("#phone").val("");
            $("#post").val("");
            $("#roleId").combobox("setValue")=="";
        }

        function closenavStationDialog(){
            $("#dlg").dialog("close");
            resetValue();
        }
    </script>
</head>
</head>
<body>
<div id="navStationContent" data-options="region:'center',title:'Main Title',iconCls:'icon-ok'">
    <a href="javascript:top.loadnavStationData()" class="easyui-linkbutton" iconCls="icon-reload">loading data</a>
    <a href="javascript:top.removenavStationData()" class="easyui-linkbutton" iconCls="icon-undo">remove data</a>
    <a href="javascript:addnavStation()" class="easyui-linkbutton" iconCls="icon-add">add data</a>
    <!-- class="easyui-datagrid"-->
    <table id="airportsdg" title="Navigation station data information" style="width:100%;height:100%" data-options="
				rownumbers:true,
				singleSelect:true,
				autoRowHeight:false,
				pagination:true,
				pageSize:10">
        <thead>
        <tr>
            <th field="stationName" width="150" align="center">station name</th>
            <th field="navlon" width="80" align="center">station longitude</th>
            <th field="navlat" width="80" align="center">station latitude</th>
            <th field="code" width="80" align="center">station code</th>
            <th field="ch" width="80" align="center">CH</th>
            <th field="freq" width="80" align="center">station frequency</th>
            <th field="navtype" width="80" align="center">station type</th>
        </tr>
        </thead>
        <tbody id="navStationbody"></tbody>
    </table>
</div>


<div id="dlg" class="easyui-dialog" style="width: 400px;height: 250px;padding: 10px 20px" closed="true" buttons="#dlg-buttons">
    <form id="fm" method="post">
        <table>
            <tr>
                <td>station name：</td>
                <td><input type="text" id="stationName" name="stationName" class="easyui-validatebox" required="true"/>&nbsp;<font color="red">*</font></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td>station longitude：</td>
                <td><input type="text" id="navlon" name="navlon" class="easyui-validatebox" required="true"/>&nbsp;<font color="red">*</font></td>
            </tr>
            <tr>
                <td>station latitude：</td>
                <td><input type="text" id="navlat" name="navlat" class="easyui-validatebox" required="true"/>&nbsp;<font color="red">*</font></td>
            </tr>
            <tr>
                <td>station code：</td>
                <td><input type="text" id="code" name="code" class="easyui-validatebox"  required="true"/>&nbsp;<font color="red">*</font></td>
            </tr>
            <tr>
                <td>CH：</td>
                <td><input type="text" id="ch" name="ch" class="easyui-validatebox" required="true" />&nbsp;<font color="red">*</font></td>
            </tr>
            <tr>
                <td>station frequency：</td>
                <td><input type="text" id="freq" name="freq" class="easyui-validatebox" required="true"/>&nbsp;<font color="red">*</font></td>
            </tr>
            <tr>
                <td>station type：</td>
                <td><input type="text" id="type" name="type" class="easyui-validatebox" required="true"/>&nbsp;<font color="red">*</font></td>
            </tr>

        </table>
    </form>

    <div id="dlg-buttons">
        <a href="javascript:savenavStation()" class="easyui-linkbutton" iconCls="icon-ok">save</a>
        <a href="javascript:closenavStationDialog()" class="easyui-linkbutton" iconCls="icon-cancel">close</a>
    </div>
</div>

</body>
</html>