<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/easyui/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/easyui/themes/icon.css}">
    <script type="text/javascript" th:src="@{/static/easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/easyui/jquery.easyui.min.js}"></script>
    <script type="text/javascript">
        var url;
        function addRecRestrictArea(){
            $("#dlg").dialog("open").dialog("setTitle","添加限制区信息");
            url="/recRestrictArea/save";
        }

        function saveRecRestrictArea(){
            $("#fm").form("submit",{
                url:url,
                onSubmit:function(){
                    return $(this).form("validate");
                },
                success:function(result){
                    var result=eval('('+result+')');
                    if(result.success){
                        $.messager.alert("系统提示","保存成功!");
                        resetValue();
                        $("#dlg").dialog("close");
                        $("#dg").datagrid("reload");
                    }else{
                        $.messager.alert("系统提示","保存失败！");
                        return;
                    }
                }
            });
        }



        function closeRecRestrictAreaDialog(){
            $("#dlg").dialog("close");
            resetValue();
        }
    </script>
</head>
</head>
<body>
<div id="navStationContent" data-options="region:'center',title:'Main Title',iconCls:'icon-ok'">
    <a href="javascript:top.loadRecRestrictAreaData()" class="easyui-linkbutton" iconCls="icon-reload">加载限制区数据</a>
    <a href="javascript:top.removeRecRestrictAreaData()" class="easyui-linkbutton" iconCls="icon-undo">移除限制区数据</a>
    <a href="javascript:addRecRestrictArea()" class="easyui-linkbutton" iconCls="icon-add">添加限制区数据</a>
    <!-- class="easyui-datagrid"-->
    <!--<table id="airportsdg" title="限制区数据信息" style="width:100%;height:100%" data-options="-->
				<!--rownumbers:true,-->
				<!--singleSelect:true,-->
				<!--autoRowHeight:false,-->
				<!--pagination:true,-->
				<!--pageSize:10">-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<th field="stationName" width="150" align="center">限制区名称</th>-->
            <!--<th field="navlon" width="80" align="center">导航台经度</th>-->
            <!--<th field="navlat" width="80" align="center">导航台纬度经度</th>-->
            <!--<th field="code" width="80" align="center">三字码</th>-->
            <!--<th field="ch" width="80" align="center">CH</th>-->
            <!--<th field="freq" width="80" align="center">电台频率</th>-->
            <!--<th field="navtype" width="80" align="center">导航台类型</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody id="recRestrictAreabody"></tbody>-->
    <!--</table>-->
</div>


<div id="dlg" class="easyui-dialog" style="width: 400px;height: 250px;padding: 10px 20px" closed="true" buttons="#dlg-buttons">
    <form id="fm" method="post">
        <table>
            <tr>
                <td>导航台名称：</td>
                <td><input type="text" id="stationName" name="stationName" class="easyui-validatebox" required="true"/>&nbsp;<font color="red">*</font></td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td>经度：</td>
                <td><input type="text" id="navlon" name="navlon" class="easyui-validatebox" required="true"/>&nbsp;<font color="red">*</font></td>
            </tr>
            <tr>
                <td>纬度：</td>
                <td><input type="text" id="navlat" name="navlat" class="easyui-validatebox" required="true"/>&nbsp;<font color="red">*</font></td>
            </tr>
            <tr>
                <td>三字码：</td>
                <td><input type="text" id="code" name="code" class="easyui-validatebox"  required="true"/>&nbsp;<font color="red">*</font></td>
            </tr>
            <tr>
                <td>国际编码：</td>
                <td><input type="text" id="ch" name="ch" class="easyui-validatebox" required="true" />&nbsp;<font color="red">*</font></td>
            </tr>
            <tr>
                <td>通信频率：</td>
                <td><input type="text" id="freq" name="freq" class="easyui-validatebox" required="true"/>&nbsp;<font color="red">*</font></td>
            </tr>
            <tr>
                <td>类型：</td>
                <td><input type="text" id="type" name="type" class="easyui-validatebox" required="true"/>&nbsp;<font color="red">*</font></td>
            </tr>

        </table>
    </form>

    <div id="dlg-buttons">
        <a href="javascript:savenavStation()" class="easyui-linkbutton" iconCls="icon-ok">保存</a>
        <a href="javascript:closenavStationDialog()" class="easyui-linkbutton" iconCls="icon-cancel">关闭</a>
    </div>
</div>

</body>
</html>