<!DOCTYPE html >
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/static/easyui/demo/demo.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/easyui/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/easyui/themes/icon.css}">
    <script type="text/javascript" th:src="@{/static/easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/easyui/jquery.easyui.min.js}"></script>
</head>
<body>

<div class="easyui-accordion" style="width:100%;height:800px;">
    <div title="xuqiujuji" data-options="iconCls:'icon-ok'" >
        <form>
            <table>
                <tr>
                    <!--输入服务半径-->

                    <td>
                        <a href="javascript:startXuqiujuji()" class="easyui-linkbutton" iconCls="icon-reload" style="width: 100px;">start</a>
                    </td>
                    <td> <div id="p2" class="easyui-progressbar" style="width:50px;display: none;"></div></td>
                </tr>
            </table>
        </form>


    <table id="airportsInCitydg2" title="airports in city dg2" style="width:100%;height:80%;" data-options="
				rownumbers:true,
				singleSelect:true,
				autoRowHeight:false,
				pagination:true,
				pageSize:10">
        <thead>
        <tr>
            Candidate site：
            <th field="cityName" width="150" align="center">city name</th>
            <th field="cityLon" width="80" align="center">longitude</th>
            <th field="cityLat" width="80" align="center">latitude</th>
            <th field="count" width="80" align="center">Number of airports in the region</th>

        </tr>
        </thead>
        <tbody id="airportsInCityBody2"></tbody>
    </table>
    </div>


    <div title="lianxudongtai" data-options="iconCls:'icon-help'" >
        <form>
            <table>
            <tr>
        <!--输入服务半径-->
                <td>service radius：</td>
                <td>
                    <input class="easyui-textbox" name="radius" id="radius" style="width: 50px;"></input>
                </td>
                <td>KM</td>
                <td>
                    <a href="javascript:startLianxudongtai()" class="easyui-linkbutton" iconCls="icon-reload" style="width: 100px;">start</a>
                </td>
                <td> <div id="p" class="easyui-progressbar" style="width:50px;display: none;"></div></td>
            </tr>
            </table>
        </form>

        <table id="airportsInCitydg" title="airports in city dg" style="width:100%;height:80%" data-options="
				rownumbers:true,
				singleSelect:true,
				autoRowHeight:false,
				pagination:true,
				pageSize:10">
            <thead>
            <tr>
                Candidate site：
                <th field="cityName" width="150" align="center">city name</th>
                <th field="cityLon" width="80" align="center">longitude</th>
                <th field="cityLat" width="80" align="center">latitude</th>
                <th field="count" width="80" align="center">Number of airports in the region</th>

            </tr>
            </thead>
            <tbody id="airportsInCityBody"></tbody>
        </table>

    </div>
    <div title="jinjixiangying" data-options="iconCls:'icon-search'" >

        <form>
            <table>
                <tr>
                    <!--输入服务半径-->
                    <td>service radius：</td>
                    <td>
                        <input class="easyui-textbox" name="radius1" id="radius1" style="width: 50px;"></input>
                    </td>
                    <td>KM</td>
                 <!--   选择起点-->
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;start point</td>
                    <td>
                        <select class="easyui-combobox" style="width: 120px;" name="startPoint"><option value="0">zigong</option><option value="1">guangyuan</option></select>
                    </td>
                    <td>
                        <a href="javascript:startJinjixiangying()" class="easyui-linkbutton" iconCls="icon-reload" style="width: 100px;">start</a>
                    </td>
                    <td> <div id="p1" class="easyui-progressbar" style="width:50px;display: none;"></div></td>
                </tr>

            </table>


        </form>

        <table id="airportsInCitydg1" title="airports in city dg1" style="width:100%;height:80%" data-options="
				rownumbers:true,
				singleSelect:true,
				autoRowHeight:false,
				pagination:true,
				pageSize:10">
            <thead>
            <tr>

                <th field="cityName" width="150" align="center">city name</th>
                <th field="cityLon" width="80" align="center">longitude</th>
                <th field="cityLat" width="80" align="center">latitude</th>
                <th field="count" width="80" align="center">Number of airports in the region</th>
            </tr>
            </thead>
            <tbody id="airportsInCityBody1"></tbody>
        </table>
    </div>
</div>

</body>
<script type="text/javascript">
    function start(){
        document.getElementById("p").style.display="block";
        var value = $('#p').progressbar('getValue');
        if (value < 100){
            value += Math.floor(Math.random() * 5);
            $('#p').progressbar('setValue', value);
            setTimeout(arguments.callee, 30);
        }

    };

    function start1(){
        document.getElementById("p1").style.display="block";
        var value = $('#p1').progressbar('getValue');
        if (value < 100){
            value += Math.floor(Math.random() * 5);
            $('#p1').progressbar('setValue', value);
            setTimeout(arguments.callee, 30);
        }

    };

    function start2(){
        document.getElementById("p2").style.display="block";
        var value = $('#p2').progressbar('getValue');
        if (value < 100){
            value += Math.floor(Math.random() * 5);
            $('#p2').progressbar('setValue', value);
            setTimeout(arguments.callee, 30);
        }

    };

    function alert_autoClose(title,msg,icon){
        var interval;
        var time=1000;
        var x=1;  //设置时间2s
        $.messager.alert(title,msg,icon,function(){});
        interval=setInterval(fun,time);
        function fun(){
            --x;
            if(x==0){
                clearInterval(interval);
                $(".messager-body").window('close');
            }
        };
    }

    function startLianxudongtai() {

        var radius = (document.getElementById("radius").value)*1000;
        top.removeServiceStationData();

        alert_autoClose("system prompt","begin to calculate","");

        top.lianxudongtai(radius);
        start();

    }
    function startJinjixiangying() {

        var radius1 = (document.getElementById("radius1").value)*1000;
        top.removeServiceStationData();

        alert_autoClose("system prompt","begin to calculate","");

        top.jinjixiangying(radius1);
        start1();

    }

    function startXuqiujuji() {

        //var radius = (document.getElementById("radius").value)*1000;
        top.removeServiceStationData();

        alert_autoClose("system prompt","begin to calculate","");

        top.xuqiujuji(100000);
        start2();

    }

</script>
</html>