<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kg.fss.dao.AirportMapper">
  <resultMap id="BaseResultMap" type="com.kg.fss.entity.Airport">
    <id column="airportsId" jdbcType="INTEGER" property="airportsId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="lon" jdbcType="DOUBLE" property="lon" />
    <result column="lat" jdbcType="DOUBLE" property="lat" />
    <result column="msl" jdbcType="DOUBLE" property="msl" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    airportsId, name, code, lon, lat, msl, type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from airports
    where airportsId = #{airportsId,jdbcType=INTEGER}
  </select>
  <select id="selectAllAirport" resultType="com.kg.fss.entity.Airport">
    select * from airports
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from airports
    where airportsId = #{airportsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kg.fss.entity.Airport">
    insert into airports (airportsId, name, code, 
      lon, lat, msl, type
      )
    values (#{airportsId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{lon,jdbcType=DOUBLE}, #{lat,jdbcType=DOUBLE}, #{msl,jdbcType=DOUBLE}, #{type,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kg.fss.entity.Airport">
    insert into airports
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="airportsId != null">
        airportsId,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="lon != null">
        lon,
      </if>
      <if test="lat != null">
        lat,
      </if>
      <if test="msl != null">
        msl,
      </if>
      <if test="type != null">
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="airportsId != null">
        #{airportsId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="lon != null">
        #{lon,jdbcType=DOUBLE},
      </if>
      <if test="lat != null">
        #{lat,jdbcType=DOUBLE},
      </if>
      <if test="msl != null">
        #{msl,jdbcType=DOUBLE},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kg.fss.entity.Airport">
    update airports
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="lon != null">
        lon = #{lon,jdbcType=DOUBLE},
      </if>
      <if test="lat != null">
        lat = #{lat,jdbcType=DOUBLE},
      </if>
      <if test="msl != null">
        msl = #{msl,jdbcType=DOUBLE},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
    </set>
    where airportsId = #{airportsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kg.fss.entity.Airport">
    update airports
    set name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      lon = #{lon,jdbcType=DOUBLE},
      lat = #{lat,jdbcType=DOUBLE},
      msl = #{msl,jdbcType=DOUBLE},
      type = #{type,jdbcType=INTEGER}
    where airportsId = #{airportsId,jdbcType=INTEGER}
  </update>
</mapper>